{% extends 'base.html' %}

{% load static %}

{% block title %}Products{% endblock %}

{% block navbar %}
    {% include 'partials/_navbar.html' %}
{% endblock %}

{% block sidebar %}
    {% include 'partials/_sidebar.html' %}
{% endblock %}

{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 main-content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2" id="invoices-title">Invoices</h1>
        <div class="btn-container">
            <a href="{% url 'create_invoice' %}" class="btn btn-primary">Create</a>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-3">
            <div class="card bg-light text-center">
                <div class="card-body">
                    <h5 class="card-title">All Invoices</h5>
                    <button id="all-invoices-button" class="btn btn-primary w-100">View All</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-light text-center">
                <div class="card-body">
                    <h5 class="card-title">Draft Invoices</h5>
                    <button id="draft-invoices-button" class="btn btn-secondary w-100">View Draft</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-light text-center">
                <div class="card-body">
                    <h5 class="card-title">Paid Invoices</h5>
                    <button id="paid-invoices-button" class="btn btn-success w-100">View Paid</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-light text-center">
                <div class="card-body">
                    <h5 class="card-title">Unpaid Invoices</h5>
                    <button id="unpaid-invoices-button" class="btn btn-warning w-100">View Unpaid</button>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Invoice ID</th>
                    <th>Customer Name</th>
                    <th>Amount</th>
                    <th>Created</th>
                    <th>Due Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for invoice in invoices %}
                    <tr>
                        <td>{{ invoice.invoice_id }}</td>
                        <td>{{ invoice.customer_name }}</td>
                        <td>{{ invoice.amount }}</td>
                        <td>{{ invoice.created_at }} </td>
                        <td></td>
                        <td>{{ invoice.status }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% block javascript %}
<script src="{% static 'js/invoice.js' %}"></script>
{% endblock %}
{% endblock %}