:root {
    --primary-color: #2f6fd0;
    --secondary-color: white;
    --background-color: white;
    --text-color: black;
}
body {
    background-color: var(--background-color);
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-section {
    height: 100vh;
}
.auth-card {
    box-shadow: 0 1px 0 3px rgba(0,0,0,0.5);
}
.card-title{
    text-align: center;
}
.tos-container {
    display: flex;
    flex-direction: row;
}
