{% extends "base.html" %}

{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
<section class="section auth-section">
    <div class="container">
        <div class="card auth-card">
            <div class="card-title">Login</div>
            <div class="card-body">
                <form id="loginForm">
                    <div class="col mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-label" id="email" name="email" required>
                    </div>
                    <div class="col mb-3">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                    </div>
                    <div class="col mb-3">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </form>
                <div class="error-container col mb-3">
                    <span id="error-message"></span>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'login.js' %}"></script>
{% endblock %}
